* {
    box-sizing: border-box;
    background-color: white;
}
body{
    margin: 0;
}

header, header *{
    background-color: #9E2F0F;
    color: white;
    margin: 0px;
}

header h1 {
    text-align: center;
    margin: 0px;
    padding-top: 20px;
}

header .about {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 5px;
    padding: 15px 25px 20px 25px;
}

.search-criteria *{
    background-color: darkgrey;
    margin: 0px;
    padding: 12px;
    text-align: center;
}

.search-criteria select {
    background-color: white;
}

.search-criteria select option {
    background-color: white;
}

.search-criteria input[type=submit] {
    background-color:#9E2F0F;
    color: white;
    border: none;
    padding: 13px;
    border-radius: 7px;
    margin: 8px;
}

.error-message {
    text-align: center;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 800px){
    header {
        display: flex;
        justify-content: space-between;
    }

    header h1 {
        padding-bottom: 20px;
        margin-left: 20px;
    }

    header .about {
        text-align: left;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 40px;
        margin-right: 40px;
    }

    .results {
        flex-direction: row;
    }
}

.result {
    border: 1px solid #cccccc;
    flex-basis: 30%;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

.result .img {
    height: 350px;
    background-size: cover;
    background-position: center center;
}

.results .details {
    padding: 0 20px;
}

.buttons .get-videos {
    background-color:#9E2F0F;
    color: white;
    border: none;
    padding: 13px;
    border-radius: 7px;
    margin: 3px 0 3px 3px;
}

.hide-video-button {
    display: none;
}

.purchase {
    background-color: white;
    color: #9E2F0F;
    border: 3px solid #9E2F0F;
    padding: 10px;
    border-radius: 7px;
    margin: 3px 0 3px 5px;
}

.change-purchase-button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 13px;
    border-radius: 7px;
    margin: 3px 0 3px 5px;
}

.results .video-display {
    text-align: center;
}

.results .video {
    height: 200px;
    margin: 10px;
}
